/* pages/me/me.wxss */
.container {
    width: 100%;
    height: 100vh;
}

.page {
    &-hd {
        width: 100%;
        height: 469rpx;
        padding-top: 30rpx;
        background: white;
        box-sizing: border-box;
        &__info{
            margin: auto;
            width: 480rpx;
            // background: rgb(212, 207, 207);
        }
        
        &__pic {
            margin: auto;
            width: 152.7rpx;
            height: 152.7rpx;
            image {
                width: 152.7rpx;
                height: 152.7rpx;
                border-radius: 76.4rpx;
                margin-top: 40rpx;
            }
        }
        &__border {
            margin: auto;
            width: 240rpx;
            height: 240rpx;
            border: 1px solid #ebecee;
            border-radius: 120rpx;
            &::before {
                content: '';
                position: absolute;
                margin: auto;
                width: 200rpx;
                height: 200rpx;
                border: 1px solid #ebecee;
                border-radius: 100rpx;
                margin-left:18rpx;
                margin-top: 18rpx;
            }
            &::after {
                content: '';
                position: absolute;
                margin: auto;
                width: 170rpx;
                height: 170rpx;
                border: 1px solid #ebecee;
                border-radius: 85rpx;
                margin-left:33rpx;
                margin-top: -122rpx;
            }
        }
        &__name {
            width: 100%;
            padding-top: 20rpx;
            font-size: 30rpx;
            font-weight: 800;
            text-align: center;
        }
        &__mythings {
            width: 480rpx;
            margin-top: 20rpx;
        }
    }

    &-bd {
        width: 100%;
        height: 615rpx;
        &__items {
            margin-top: 20rpx;
            background: white;
        }
    }
}

.mythings {
    &-push {
        text-align: center;
        width: 240rpx;
        float: left;

        &::after {
            content: '';
            position: absolute;
            border-right: 2rpx solid #edecee;
            height: 50rpx;
            width: 20rpx;
            margin-top: -50rpx;
            margin-left: 100rpx;
        }
    }
    
    &-collect {
        text-align: center;
        float: left;
        width: 240rpx;
    }
    &-num {
        font-size: 30rpx;
        font-weight: 800;
    }
    &-text {
        font-size: 28rpx;
        color: gray;
    }   
}

.bd-item {
    width: 100%;
    position: relative;
    height: 113rpx;
    &::before {
        content: '';
        position: absolute;
        width: 15rpx;
        height: 15rpx;
        border-right: 2px solid #ecedee;
        border-top: 2px solid #ecedee;
        margin-top: 49rpx;
        margin-left: 680rpx;
        transform: rotate(45deg);
    }
    &__info{
        margin-top: -65rpx;
        margin-left: 120rpx;
        font-size: 36rpx;
    }
    & > image {
        width: 60rpx;
        height: 60rpx;
        margin-left: 47rpx;
        margin-top: 30rpx;
    }
    & > text {
        margin-top: -100rpx;
    }
}